@import "~bulma/bulma.sass";
$rosa: #ff535b;

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

#app {
  font-family: "Lato", sans-serif;
}

.logo {
  text-align: center;
  margin-top: 1%;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 1px 10px #d9d9d9;
}

.mainsearch {
  width: 55rem;
  margin-left: 40%;
}

i {
  color: #ffffff;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  height: 900px;
  width: 100px;
  background-color: $rosa;
  text-align: center;
  bottom: 0;
  li {
    margin-top: 35%;
    cursor: pointer;
    align-self: flex-start;
    .menu-text {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
    }
    &:last-child {
      position: absolute;
      bottom: -30%;
      left: 1.5%;
    }
  }
}

.user-info {
  border-radius: 2px;
}

.caja {
  height: 192px;
  width: 287px;
  position: relative;
  cursor: pointer;
  .sombra {
    background: rgba(255, 83, 91, 0.75);
    top: 53%;
    color: white;
    text-align: justify;
    position: absolute;
    padding: 5px;
    font-size: 75%;
    h1 {
      font-size: 145%;
      font-weight: bold;
    }
  }
}

.texto {
  font-size: 145%;
  font-weight: bold;
}

.container {
  margin-top: -0%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  height: -moz-fill-available;
  width: -moz-fill-available;
}
